<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Angajati.Properties.Settings.CoffeeShopConnectionString"
            connectionString="Data Source=DESKTOP-J2E60KF;Initial Catalog=CoffeeShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Angajati.Properties.Settings.Coffee_ShoppConnectionString"
            connectionString="Data Source=DESKTOP-J2E60KF;Initial Catalog=Coffee_Shopp;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>